*{
    margin: 0%;
    padding: 0%;
    /*max-width: 1200px;*/
    box-sizing: border-box;
}

body{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color:  #f9fcbd;
    margin: auto;
}

/*padre*/

.header {
    padding: 25px;
    display: flex;
    align-items: baseline;
    width: 60%;
    margin: auto;
    position: sticky;
	top: 0;
    z-index: 9999;
    background: linear-gradient(to bottom,
	rgba(252, 255, 65, 0.623),
	rgba(204,153,102, 15)
	)
}

.titulo {
    width: 60%;
}
h4{
    font-size: 38px;
}
nav {
    width: 60%;
    text-align: right;
}
a{
    font-size: 18px;
    padding: 5px;
    text-decoration: none;
    color: black;
}

a:hover{
    opacity: 0.6;
    color:yellow;
}
.contenedor{
    margin: auto;
    width: 60%;
    background-color: white;
    display: flex;
    justify-content: center; /*ordene los elementos*/
    /*eje Y*/
    flex-direction: column;
    flex-wrap: wrap;
    padding: 20px;
    /*align-items: center;*/
}

/*hijos*/
/*caja 1*/
.homero{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.homero img{
    width: 30%;
}
.persona{
    width: 45%;
    border-top: 20px solid #f9fcbd;
}
h1{
    font-size: 20px;
}
h2{
    font-size: 20px;
    padding: 0.5%;
}

/*caja 2*/
.texto{
    width: 100%;
    padding: 10px;
    display: flex;
    flex-direction: column;

}
#experiencia, #premios, #influencia {
    background-color: rgb(214, 212, 74);
}
#trayectoria, #salud {
    background-color: rgb(230, 245, 146);
}
p{
    padding: 5px;
}

footer {
    height: 20%;
    width: 100%;
    background-color:black;
    font-size: 20px;
    color: white;
    text-align: center;

}

/*Media Queries*/ 
/*Disp. Grandes */
@media screen and (min-width:961px) and (max-width:1200px) {
    /*como un nuevo css*/
}
/*Disp. Medianos */
@media screen and (min-width:561px) and (max-width:960px) {
    .header{
        width: 100%;
        flex-direction: column;
        align-items: center;
    }
    .titulo {
        text-align: center;
        width: 100%;
    }
    nav{
        text-align: center;
        width: 100%;;
    }
    h4{padding:10px}
    .contenedor {
        width: 90%;
    }
    .homero img {
        object-fit: cover;
        width: 240px;
    }
    h2{
        font-size: 26px;
    }
}
/*Disp. Pequeños */
@media screen and (min-width:0px) and (max-width:560px) {
    .header{
        width: 100%;
        flex-direction: column;
        align-items: center;
    }
    .titulo {
        text-align: center;
        width: 100%;
    }
    nav{
        text-align: center;
        width: 100%;
        display: flex;
        flex-direction: column;
        padding: 4px;
    }
    h4{font-size: 32px;
        padding: 1px;;
    }
    .homero{flex-direction: column;
    align-items: center;}
    .homero img {
        width: 60%;
        object-fit: contain;
}
.persona {
    width: 90%;
}
.contenedor {
    width: 100%;
}
h1 {
    font-size: 18px;

}
    }

}